.main{
    position:relative;
    width:100%;
    min-height:100vh;
    font-family: Roboto, sans-serif;
    background-color: darkgrey;

}

.sidebar{
    position: fixed;
    width: 450px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: lightgray;
}

.player-info{
    position: relative;
    padding: 5%;
}

.content-container{
    font-style: red;
    position: relative;
    margin-left:450px;
}

.content{
    display: flex;
    justify-content: top;
    align-items: center;
    align-self: top;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    outline: 2px solid black;
}

.social-media{
    text-decoration: none;
    text-align: center;
    
}
.social-media a:link{
    color: black;
    text-decoration: none;
}
.social-media a:visited{
    color: black;
    text-decoration: none;
}
.twitter, .twitch{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 36px;
    outline: 2px solid black;
}
.twitter {
    background-color: hsl(206, 82%, 63%);
}

.twitter:hover{
    background-color: hsl(206, 82%, 58%);
}

.twitch{
    background-color: hsl(264, 100%, 75%);
    margin-top: 2px;
}

.twitch:hover{
    background-color: hsl(264, 100%, 70%);
}