.main{
    position:relative;
    width:100%;
    min-height:100vh;
    font-family: Roboto, sans-serif;
    background-color: rgb(197, 197, 197);

}

.sidebar{
    position: absolute;
    width: 450px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: lightgray;
}

.tournament-logo{
    display:flex;
    justify-content: center;
}

.tournament-info{
    position: relative;
    padding: 5%;
}

.standings-container{
    font-style: red;
    position: relative;
    margin-left:450px;
    top:0;
}

.standings{
    display: flex;
    justify-content: top;
    align-items: center;
    align-self: top;
    text-align: left;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.Accordion{
    width: 100%;
}

.Accordion:nth-child(odd){
    background-color: rgba(104, 146, 69, 0.25);
}
.Accordion:nth-child(even){
    background-color: rgba(104, 146, 69, 0.45);
}

.pagination{
    display: flex;
    z-index: -1;
    margin-top: 2px;
    outline: 2px solid black;
    height: 2.5em;
    justify-content: center;
    flex-wrap: wrap;
}

.set-indicator-wrapper{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    align-self: center;
    text-align: center;
}

.search-bar-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.search-bar:focus{
    outline: none;
}

